*{color:white; font-family: "Roboto";}

body
{
    width: 99%;
    height: 98vh;
    background: #116D6E;
    display: flex;
    justify-content: center;
}

main
{

box-sizing: border-box;
padding: 10px;
width:25em;
text-align: center;
background-color: #321E1E;
color:white;

}

.task
{
    background-color: 4E3636;
    color: black;
    padding: 10px;
    margin-top: 6px;
    margin-bottom: 10px;
    margin-left: 10%;
    margin-right: 10%;
    border: 1px solid #CD1818;
}

button, input{color:black; border: 0px; padding: 10px;}

input:hover::placeholder{color: white;}
input:hover{background-color: grey;}
input:focus:hover{color: white;}

button:hover
{
    border: 5px white;
    background-color: gray;
    color: white !important;
    cursor: pointer;
}

img{width: 1rem;float: left; margin-top: 1px;}
img:hover{content: url("images/delete.png");}

.task > input 
{
    height: auto;
    padding-top: -5px;
    padding: 3px;
}